.product {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  .col--left {
    width: 595px;
    position: fixed;
  }
  .col--right {
    width: 595px;
    margin-bottom: 152px;
    margin-left: 51%;
  }
}

@media screen and (max-width: 1280px) {
  .product {
    flex-direction: column;
    .col--left {
      position: initial;
    }
    .col--right {
      margin-left: 0;
    }
    .col--left, .col--right {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    .col--left, .col--right {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
