.header {
  display: flex;
  justify-content: center;
  max-width: 1218px;
  margin: 0 auto;
  border-bottom: 1px solid var(--light-grey);
  &--logo {
    margin: 20px 0;
    width: 58px;
    height: auto;
  }
}
@media screen and (max-width: 1280px) {
  .header {
    max-width: 542px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 288px;
  }
}