.features {
  margin-bottom: 72px;
  &__item{
    border: 2px solid var(--dark-grey);
    padding: 24px;
    margin-bottom: 16px;
    border-radius: 8px;
    &:hover{
      border: 2px solid var(--darker-grey);
    }
    &.active {
      border: 2px solid var(--cian);
    }
    p {
      font-family: "Circular Std";
      color: var(--darker-grey);
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      pointer-events: none;
      &.title {
        margin-bottom: 8px;
        color: var(--black);
      }
    }
  }
}